body {
    background: #383470;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.app-container {
    background: #46427D;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance-info {
    text-align: left;
}

#balance-label {
    font-size: 1.2em;
    color: #f5f6fa;
}

#balance {
    font-size: 1.8em;
    margin: 10px 0;
    color: #ffeaa7;
}

#last-movement {
    font-size: 0.9em;
    color: #f87ca5;
}

.transaction-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#concept, #amount {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    font-size: 1em;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1em;
}

#clear-history-btn{
    margin-top: 10px;
    background-color: #475086;

}
#clear-history-btn:hover{
    background-color: #2c2c54;

}

#income-btn {
    background: #8652ff;
}

#income-btn:hover {
    background: #52329c;
}

#expense-btn {
    background: #f87ca5;
}

#expense-btn:hover {
    background: #e84118;
}

.history-container {
    margin-top: 20px;
}

.history-card {
    background: #2C2C60;
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.history-card .concept {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.history-card .date,
.history-card .previous-balance {
    font-size: 0.8em;
    color: #d1d1d1;
}

.history-card .amount {
    font-size: 1.2em;
    color: #f87ca5;
}

.history-card .amount.income {
    color: #8652ff;
}

.history-card .delete-btn {
    background: #f87ca5;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    top: 15px;
    right: 15px;
}

.history-card .delete-btn:hover {
    background: #e84118;
}

#history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
    .header, .transaction-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .transaction-container {
        flex-direction: column;
    }
}
